numpy==1.24.4
cython
bezier==2023.7.28
pycocotools
submitit
torch>=1.5.0
torchvision>=0.6.0
scipy
numba
easydict
fire
lmdb
opencv-contrib-python==4.7.0.72
yacs
setuptools
# apex
tqdm
zmq
transformers
timm
einops
cupy-cuda110
editdistance
shapely
typing_extensions